.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: top;
    
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-row label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-row input,
.form-row select,
.form-row textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-row .error {
    color: red;
    font-size: 12px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-footer button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.subdiv_left,
.subdiv_right {
    flex: 1; /* Equal width for both columns */
    padding: 10px;
    box-sizing: border-box;
}

/* Optional styles for visualization */
.subdiv_left {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.subdiv_right {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
}
.flex {
    display: flex;
}

.sameRow {
   
    height: 40px;
    width: 100%;

}
.normal {
    height: 40px;
    border: 2px solid red;
}

.container-f {
    width: 200px;
}