body {
    font-family: Arial, sans-serif;
    background-color: #1b4875;
    margin: 0;
    padding: 0;
}

.imageViewer {
    width: 1000px;
    height: 1000px;
    border: 1px solid #ccc;
}

.doc_form-container{

    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    align-items: left;
    align-self: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}